<!DOCTYPE html>
<html>
<head>
	<title>로그인</title>
	<link rel="stylesheet" href="/stylesheets/Login-Layout.css">
</head>
<body>
	<header>
		<div class="wrap">
		<div class="left">
		<p>Home>로그인</p>
		<h1>로그인</h1>
        <hr>
        <form action="/login" method="POST">
		<label>아이디</label>	
		<input type="text" id="userId" name="userId" style="margin: 34px;">
		<br>
		<label>비밀번호</label>
		<input type="password" id="userPass" name="userPass" style="margin-left: 20px;">
		</div>
		<input id="login_button" style="padding-top:20px; padding-bottom:20px; margin-top: 154px; font-size: 36px; background-color: #FFC6C6; border-style: none; color: white;" type="submit" value="login"/>
		
		<br>
		<br>
		<input id="font" type="radio" name="userCheck" value="1" style="margin-left: 82px; font-size: 12px;">관리자
		<input id="font" type="radio" name="userCheck" value="0" style="margin-left: 10px; font-size: 12px;">학생<br>
		<a id="font" href="/join" style="margin-left: 82px; font-size: 12px; color: #000063;">회원가입</a>
        </form>
        <hr>
	</header>
	
</body>
</html>