body {height:700px; text-decoration: none;}
.h01 {background-color:#DB0000; width:30%;height:90px; color:white; padding:10px; text-align:center; float:left;text-align: left;}
.h02 {background-color:#DB0000; width:40%;height:90px;float:left;}
.h03 {background-color:#DB0000; width:30%; height:90px;float:left;text-align: right;}
.a1 {text-decoration: none; color:white;}
a { text-decoration: none; }